<h1>Dealership</h1>

<h2><%= @dealership.name %></h2>
<p> Address: <%= @dealership.address %></p>
<p> Open on weekends: <%= @dealership.open_weekends %></p>
<p> Established <%= @dealership.years_open %> years ago</p>