


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="app/assets/stylesheets/main.css" title="text/css" />
</head>

<body>
  <h1 style="color: black; text-align:center; ">Welcome to Relational Rails</h1>

  <button class="button button1"><a href="/dealerships">Go to Dealerships</a>
  <button class="button button2"><a href="/grocery_stores">Go to Grocery Stores</a>
  
</body>
</html>

