


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="app/assets/stylesheets/main.css" title="text/css" />
</head>

<body>
  <h1 style="color: black; text-align:center; ">Welcome to Relational Rails</h1>
</body>
</html>

