


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="app/assets/stylesheets/main.css" title="text/css" />
</head>

<body>
  <h1 style="color: black; text-align:center; ">Welcome to Relational Rails</h1>

  <h2>
  <%= link_to 'Go to Dealerships', "/dealerships", class:"button button2", method: :get %>
  <%= link_to 'Go to Grocery Stores', "/grocery_stores", class:"button button2", method: :get %>
  </h2>

</body>
</html>

